%p{style: "color: red"}= flash[:error_item]
= form.input :name, label: "Наименование"
= form.input :price, label: "Цена, руб"
= form.input :weight, label: "Вес, кг"
= form.input :description, label: "Описание", as: :text
