%h1 Изменение товара:
= simple_form_for @item, html: {class: 'form-horizontal' } do |f|
  = render partial: "form", locals: {form: f}
  %p= f.submit "Сохранить товар"
%p= link_to "Список товаров", items_path
%p= link_to "Вернуться к товару", @item
